<%- include ('partials/header') %> 
<body>
    <%- include ('partials/navbar') %> 
    <button class="btn btn-success">Estilo do Bootstrap</button>
    <a href="/perguntar">Perguntas</a>
</body>
<%- include ('partials/footer') %> 
</html>